save-workspace-protocol=false
publish-branch="next"

# Version 5.2.0 introduces automatic hoisting of `@types/*`. I'm turning it off
# for now.
shamefully-hoist=false
registry = https://registry.verdaccio.org/
loglevel=silly
fetch-retries=10
fetch-retry-factor=2
